$color: #22343d;

@mixin main-btn {
  background-color: #02897a;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.5s ease;
}

@mixin main-btn-hover {
  background-color: #fff;
  border-color: #02897a;
  color: #02897a;
}
