.price {
  margin-top: 150px;

  &-top {
    text-align: center;

    & h2 {
      font-size: 34px;
      color: $color;
      font-weight: 700;
      line-height: 51px;
    }

    & p {
      color: $color;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: repeat(3, 322px);
    justify-content: center;
    align-items: center;
    gap: 71px;
    margin-top: 50px;

    & .price-box {
      text-align: center;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      color: $color;

      & h2 {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
      }

      & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        margin-top: 8px;
      }

      & .card {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #02897a;
        gap: 8px;

        & h3 {
          font-size: 76px;
          font-weight: 700;
          line-height: 100px;
          letter-spacing: 0.20000000298023224px;
        }

        & h6 {
          font-size: 24px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0.10000000149011612px;
        }

        & h5 {
          font-size: 16px;
          color: #afafaf;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0.10000000149011612px;
        }
      }

      & h4 {
        font-size: 16px;
        margin-top: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.20000000298023224px;
        font-family: "Inter";
      }

      & .main-btn {
        @include main-btn;
        margin-top: 38px;
        padding: 11px 19px;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 32px;
      }

      & .main-btn:hover {
        @include main-btn-hover;
      }
    }

    & .price-box-1 {
      background-color: #02897a;
      color: #fff;

      & .card {
        color: #fff;
      }

      & .main-btn {
        background-color: #fff;
        color: #02897a;
      }

      & .main-btn:hover {
        background-color: #02897a;
        color: #fff;
        border-color: #fff;
      }
    }
  }
}

@media (max-width: 411px) {
  .price {
    &-bottom {
      grid-template-columns: 322px;
    }
  }
}
